@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

* {

    margin: 0;
    padding: 0;


}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("/img/Design\ sem\ nome.gif") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
  }

#tela-total {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tela-filho {
    width: 50%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    width: 200px;
    height: 200px;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.titulo{
    font-family: "Bitcount Prop Single", system-ui;
    margin-top: 20px;
    letter-spacing: 3px;
}

.botoes{

    min-width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
}

.click{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

a{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

 a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.icone{

    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;

}

.palavra{
    width: 100%;
    margin-right: 35px;
    letter-spacing: 5px;
}

p{
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 17px;
}











